{% extends "base.html" %}

{% block title %}
Hello, world! | Home Page
{% endblock %}

{% block page_title %}
My First Flask App
{% endblock %}

{% block content %}
<!-- placeholder content -->
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel massa ac eros iaculis consequat at eget neque. Proin commodo ut eros nec vulputate. Vivamus nec lectus eu turpis venenatis consectetur. Nullam tincidunt, augue ut pulvinar tempor, nunc dolor auctor arcu, vel fringilla lacus felis eget quam. Nulla dignissim consequat turpis, ut vestibulum nunc convallis in. Phasellus a cursus diam. Curabitur vitae diam quis sem ullamcorper vehicula. Donec maximus lectus massa, a hendrerit ipsum tincidunt non. Fusce sed eleifend sem. Cras vehicula congue ullamcorper. Sed quis sollicitudin ante, sit amet pellentesque nunc. Donec interdum lectus et volutpat auctor. Morbi consequat lectus eu convallis porta. Praesent a metus id ex elementum sodales non at nibh.
</p>
<p>
Nullam pretium ipsum quis libero scelerisque, vel euismod ligula dignissim. Aliquam at tellus quis massa pharetra hendrerit ut at est. Nullam ut leo arcu. Maecenas sit amet leo blandit, aliquam elit id, pulvinar dui. Etiam posuere, metus vel tempus fermentum, enim nisi facilisis turpis, finibus aliquet purus mi sed quam. Sed nibh nibh, dapibus sed pretium commodo, convallis eu quam. Nullam at nisi libero. Phasellus aliquet lobortis tristique. In id arcu leo. Donec laoreet varius sapien, et vulputate est commodo non. Nulla facilisi. Suspendisse massa erat, commodo et lorem a, sodales sagittis neque.
</p>
<p>
Nullam sodales rhoncus bibendum. Cras sed metus sed sapien blandit vehicula sit amet eget tortor. Praesent vulputate lorem dolor, ut luctus felis mollis non. Aliquam nisl quam, tempor non ipsum vel, varius vehicula nibh. Nulla pharetra facilisis vehicula. Nulla facilisi. Proin finibus consequat odio, sed malesuada felis fermentum sed. Morbi pharetra elementum velit, id tempus lorem. Nunc et lorem gravida, mattis velit ut, interdum nunc. Etiam pharetra fermentum egestas. Phasellus et eros vitae felis placerat rutrum. Nunc sem massa, porttitor fermentum luctus sed, hendrerit a ligula.
</p>
<p>
In odio libero, aliquet at luctus et, molestie a risus. Nam vitae purus a lorem egestas semper quis vitae nibh. Mauris nibh nibh, feugiat vestibulum lectus non, vehicula auctor eros. Integer auctor pretium eros, quis dictum sapien gravida vel. Nullam rutrum, tellus non commodo interdum, ipsum lectus euismod purus, ut lobortis massa erat in enim. Donec at elit ac quam lacinia maximus. Nam pellentesque sem eget nibh commodo, nec ullamcorper diam ultrices. Cras vehicula mi et ante vehicula, eget tempus mi vehicula. Phasellus dignissim interdum diam nec maximus. Sed pellentesque pretium rhoncus. Duis sit amet diam diam.
</p>
<p>
Aliquam erat enim, cursus nec sem in, vulputate tempor eros. Ut iaculis eros lorem, non faucibus diam feugiat vel. Pellentesque ac efficitur sapien. Cras egestas lectus magna, sed tincidunt augue scelerisque nec. Aliquam eu arcu a elit congue commodo ut sit amet elit. Cras semper vitae diam eu cursus. Sed placerat posuere aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean venenatis, diam ut dictum posuere, nisi enim interdum sapien, nec vestibulum ipsum urna ac ante. Ut et pharetra enim, eu accumsan lacus. Sed at felis non ante ullamcorper mollis ac eu arcu. Curabitur finibus nibh nec sapien interdum tempor. In non rhoncus erat, pharetra laoreet nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
{% endblock %}

{% block footer %}
Hello, World! Flask app with templates by <a href="http://mkdir.info">bmcculley</a>.
{% endblock %}